In [1]:
def quadratic_temp(a, b, c, times):
    return [a * t**2 + b * t + c for t in times]

models = [
    {"name": "City A", "a": -0.01, "b": 0.4, "c": 22},
    {"name": "City B", "a": 0.015, "b": -0.3, "c": 25}
]

times = range(0, 7)

for m in models:
    temps = quadratic_temp(m['a'], m['b'], m['c'], times)
    print(f"{m['name']}: ", " ".join(f"{round(t,1)}" for t in temps))

City A:  22.0 22.4 22.8 23.1 23.4 23.8 24.0
City B:  25.0 24.7 24.5 24.2 24.0 23.9 23.7

In [2]:
def quadratic_temp(a, b, c, times):
    return [a * t**2 + b * t + c for t in times]

# Make sure this block stays before it's used!
models = [
    {"name": "City A", "a": -0.01, "b": 0.4, "c": 22},
    {"name": "City B", "a": 0.015, "b": -0.3, "c": 25}
]

times = range(0, 7)  # 0 to 6 hours
output = ""

for m in models:
    try:
        temps = quadratic_temp(float(m['a']), float(m['b']), float(m['c']), times)
        temp_line = " ".join(f"{round(t,1)}" for t in temps)
        output += f"{m['name']}: {temp_line}\n"
    except Exception as e:
        output += f"{m.get('name', 'Unknown')}: Error - {e}\n"

print(output)

City A: 22.0 22.4 22.8 23.1 23.4 23.8 24.0
City B: 25.0 24.7 24.5 24.2 24.0 23.9 23.7

In [3]:
def quadratic_temperature_model(a, b, c, time_points):
    return [a * t**2 + b * t + c for t in time_points]

def safe_run_model(model, time_points):
    try:
        a = float(model['a'])
        b = float(model['b'])
        c = float(model['c'])
        name = model.get('name', 'Unnamed Model')
        temps = quadratic_temperature_model(a, b, c, time_points)
        print(f"\n{name} Temperatures:")
        for t, temp in zip(time_points, temps):
            print(f"Hour {t}: {temp:.2f}°C")
    except (KeyError, ValueError, TypeError) as e:
        print(f"Error in model '{model}': {e}")

# Models with one faulty entry
models = [
    {"name": "City A", "a": -0.01, "b": 0.5, "c": 20},
    {"name": "City B", "a": "oops", "b": -0.4, "c": 25},  # Faulty input
    {"name": "City C", "a": -0.005, "b": 0.3, "c": 15}
]

time_points = list(range(0, 25))

for model in models:
    safe_run_model(model, time_points)

City A Temperatures:
Hour 0: 20.00°C
Hour 1: 20.49°C
Hour 2: 20.96°C
Hour 3: 21.41°C
Hour 4: 21.84°C
Hour 5: 22.25°C
Hour 6: 22.64°C
Hour 7: 23.01°C
Hour 8: 23.36°C
Hour 9: 23.69°C
Hour 10: 24.00°C
Hour 11: 24.29°C
Hour 12: 24.56°C
Hour 13: 24.81°C
Hour 14: 25.04°C
Hour 15: 25.25°C
Hour 16: 25.44°C
Hour 17: 25.61°C
Hour 18: 25.76°C
Hour 19: 25.89°C
Hour 20: 26.00°C
Hour 21: 26.09°C
Hour 22: 26.16°C
Hour 23: 26.21°C
Hour 24: 26.24°C
Error in model '{'name': 'City B', 'a': 'oops', 'b': -0.4, 'c': 25}': could not convert string to float: 'oops'

City C Temperatures:
Hour 0: 15.00°C
Hour 1: 15.29°C
Hour 2: 15.58°C
Hour 3: 15.86°C
Hour 4: 16.12°C
Hour 5: 16.38°C
Hour 6: 16.62°C
Hour 7: 16.86°C
Hour 8: 17.08°C
Hour 9: 17.30°C
Hour 10: 17.50°C
Hour 11: 17.70°C
Hour 12: 17.88°C
Hour 13: 18.05°C
Hour 14: 18.22°C
Hour 15: 18.38°C
Hour 16: 18.52°C
Hour 17: 18.66°C
Hour 18: 18.78°C
Hour 19: 18.89°C
Hour 20: 19.00°C
Hour 21: 19.09°C
Hour 22: 19.18°C
Hour 23: 19.25°C
Hour 24: 19.32°C